<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="entity">
      <directory suffix="Test.php">tests/Shelf/Test/Entity</directory>
    </testsuite>
    <testsuite name="utility">
      <directory suffix="Test.php">tests/Shelf/Test/Utility</directory>
    </testsuite>
  </testsuites>
</phpunit>
